@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link {
  color: #003276;
  text-decoration: underline;
}

.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.548)
    ),
    url("/src/assets/images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.calendarWrap {
  display: inline-block;
  position: relative;
}
.calendarElement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}
